<h1><%= current_worker.email %>'s claimed jobs:</h1>

<ul>
<% current_worker.jobs.each do |job| %>
<li><%= link_to job.title, job_path(job) %></li>
<p> <%= job.description %> </p>
<h5>Mode:
<% if job.pending %>
  Pending
<% elsif job.active %>
  Active
<% else job.completed%>
  Complete
  <% end %>
</h5>
<% end %>
</ul>
